/* Will be compiled down to a single stylesheet with your sass files */
body {
	font-family:"Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
}

.chart {
	overflow:hidden;
	border : 1px solid #ccc;	
	width:350px;
	height:350px;
	margin-bottom:10px;
}

.chart.continue {
	float:left;
	margin-right:10px;
}

.chart_title {
	background:#ccc;
	color:#000;
	height:20px;
	position:relative;
	overflow:hidden;
	width:350px;
}

.chart_title h3 {
	margin:0;
	position:absolute;
	font-size:12px;
	font-weight:bold;
	left:5px;
	bottom:3px;
}

.chart_title span {
	margin:0;
	font-weight:bold;
	position:absolute;
	font-size:12px;
	right:20px;
	bottom:3px;
}

.pie {
	width:350px;
	height:350px;
}

#navigation {
	overflow:hidden;
}

#navigation .nav {
	position:relative;
	overflow:hidden;
}

#navigation .nav img:nth-child(2) {
	position:absolute;
	right:0px;
}

#navigation .dashboard {
	background:#003C3D;
	color:#fff;
	height:30px;
	overflow:hidden;
}

#navigation .dashboard h3 {
	display:block;
	margin:5px 0 0 5px;
}