<div id="charts">
	<div id="chart_timeline">
		<stockchart value="{{timeline}}" width="1250" height="300"></stockchart>
	</div>
	<div class="chart first">
		<barchart value="{{PERSON}}" title="People" color="#0cadfd" width="300" height="300"></barchart>
	</div>
	<div class="chart first">
		<barchart value="{{LOCATION}}" title="Locations" color="#72b06d" width="300" height="300"></barchart>
	</div>
	<div class="chart first">
	 	<barchart value="{{ORGANIZATION}}" title="Organizations" color="#ce6a6c" width="300" height="300"></barchart>
	 </div>
	<div class="chart first">
		<barchart value="{{rssh_site}}" title="Sources" color="#fed77a" width="300" height="300"></barchart>
	</div>
</div>