<div id="chart_timeline">
	<stockchart value="{{timeline}}" width="700" height="350"></stockchart>
</div>
<div id="chart_person" class="chart first">
	<barchart value="{{PERSON}}" title="People" color="#0cadfd" width="350" height="350"></barchart>
</div>
<div id="chart_language" class="chart pie"> 
	<piechart value="{{language}}" title="Languages" width="350" height="350"></piechart>
</div>
<div id="chart_location" class="chart first">
	<barchart value="{{LOCATION}}" title="Locations" color="#72b06d" width="350" height="350"></barchart>
</div>
<div id="chart_organization" class="chart">
 	<barchart value="{{ORGANIZATION}}" title="Organizations" color="#ce6a6c" width="350" height="350"></barchart>
 </div>
<div id="chart_rss" class="chart first">
	<barchart value="{{rssh_site}}" title="Sources" color="#fed77a" width="350" height="350"></barchart>
</div>
