<div id="chart_timeline">
	<stockchart value="{{timeline}}" width="1000" height="300"></stockchart>
</div>
<div id="chart_person" class="chart">
	<barchart value="{{PERSON}}" title="People" width="400" height="400"></barchart>
</div>
<div id="chart_language" class="chart pie"> 
	<piechart value="{{language}}" title="Languages" width="600" height="400"></piechart>
</div>
<div id="chart_location" class="chart">
	<barchart value="{{LOCATION}}" title="Location" width="400" height="400"></barchart>
</div>
<div id="chart_organization" class="chart">
 	<barchart value="{{ORGANIZATION}}" title="Organization" width="400" height="400"></barchart>
 </div>
<div id="chart_rss" class="chart">
	<barchart value="{{rssh_site}}" title="Source" width="400" height="400"></barchart>
</div>
