<div id="documents">
	<div style="float:left;width:350px; margin-right:10px">
		<div class="chart">
			<barchart value="{{PERSON}}" title="People" color="#0cadfd" width="350" height="350"></barchart>
		</div>
		<div class="chart">
			<barchart value="{{LOCATION}}" title="Locations" color="#72b06d" width="350" height="350"></barchart>
		</div>
		<div class="chart">
		 	<barchart value="{{ORGANIZATION}}" title="Organizations" color="#ce6a6c" width="350" height="350"></barchart>
		 </div>
		<div class="chart">
			<barchart value="{{rssh_site}}" title="Sources" color="#fed77a" width="350" height="350"></barchart>
		</div>
	</div>
	<div>
		<div id="chart_timeline">
			<stockchart value="{{timeline}}" width="800" height="200"></stockchart>
		</div>

		<table>
			<tr class="documentListHeader">
				<th>
					<div style="border:1px solid #ccc;width:12px;height:12px">
					<div style="width:8px;height:8px;background:#67686a;margin:2px"></div>
				</th>
				<th>Title</th>
				<th>Date</th>
				<th>Lang</th>
			</tr>
			<tr class="documentListItem" ng-repeat="document in documents">
				<td>
					<div style="border:1px solid #ccc;width:12px;height:12px">
					<div style="width:8px;height:8px;background:#67686a;margin:2px"></div>
				</div>
				</td>
				<td>{{document.text}}</td>
				<td>{{document.date}}</td>
				<td>{{document.language}}</td>
			</tr>
		</table>
	</div>
</div>